@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: hsl(0, 0%, 3%);
  --gray: hsl(0, 0%, 40%);
  --white: hsl(30, 100%, 99%);
  --border: hsl(0, 0%, 19%);
  --dark-gray: hsl(0, 0%, 8%);
  --dark-gray-accent: hsl(0, 0%, 13%);
  --purple: hsl(253, 73%, 56%);
  --emerald: hsl(149, 89%, 43%);
  --light-gray: hsl(0, 0%, 92%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: var(--dark-gray);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
