@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: 8, 8, 8;
  --gray: 102, 102, 102;
  --white: 255, 252, 250;
  --border: 48, 48, 48;
  --dark-gray: 20, 20, 20;
  --dark-gray-accent: 33, 33, 33;
  --purple: 96, 61, 225;
  --emerald: 12, 207, 106;
  --light-gray: 235, 235, 235;
  --red: 236, 65, 65;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--dark-gray));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
