@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 20, 20, 20;
  --secondary-color: 8, 8, 8;
  --text-color: 102, 102, 102;
  --accent-color: 255, 252, 250;
  --border-color: 48, 48, 48;
  --color-info: 96, 61, 225;
  --color-success: 12, 207, 106;
  --color-warning: 232, 139, 17;
  --color-error: 236, 65, 65;
}

.default {
  --primary-color: 20, 20, 20;
  --secondary-color: 8, 8, 8;
  --text-color: 102, 102, 102;
  --accent-color: 255, 252, 250;
  --border-color: 48, 48, 48;
  --color-info: 96, 61, 225;
  --color-success: 12, 207, 106;
  --color-warning: 232, 139, 17;
  --color-error: 236, 65, 65;
}

.dracula {
  --primary-color: 40, 42, 54;
  ---secondary-color: 248, 248, 242;
  --accent-color: 189, 147, 249;
  --border-color: 68, 71, 90;
  --text-color: 98, 114, 164;
  --color-success: 80, 250, 123;
  --color-error: 255, 85, 85;
  --color-info: 139, 233, 253;
  --color-warning: 255, 184, 108;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: rgba(var(--accent-color));
}
p {
  color: rgb(var(--text-color));
}

body {
  background-color: rgb(var(--primary-color));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
